body{
background-image:url("../images/baggrund.jpg");
    background-size: cover;  
    background-color: red;
}

h1 {
color: white;
}

.forslag {
  background-color: white;
}

img{
    width:50%;
    margin: 0 auto;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    background-color: white;
    align-items: center;
}

.flex-item {
    margin: auto;
    width: 25%;
}
